html,
body {
  width: 100%;
  background-color: darkslategrey;
}

#root {
  width: 100%;
  text-align: center;
}

.display {
  color: rgb(62, 62, 62);
  background-color: rgb(178, 199, 142);
  align-items: center;
  text-align: right;
  padding-right: 5px;
  font-family: "VT323", monospace;
  border-radius: 5px;

  border-style: inset;

  border-width: 5px !important;
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: "Press Start 2P"; */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-color: rgb(118, 118, 118);
  border-top-color: rgb(118, 118, 118);
  border-right-color: rgb(118, 118, 118);
  border-bottom-color: rgb(118, 118, 118);
  border-left-color: rgb(118, 118, 118);
}

.display_value {
  font-size: 60px;
}

.status_display {
  width: 100%;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  height: 10px;
  text-align: right;
}

table {
  padding: 40px;
  border-radius: 20px;
  background: rgb(166, 166, 166);
  background: radial-gradient(
    circle,
    rgb(220, 219, 219) 0%,
    rgb(205, 199, 199) 100%
  );
  border-style: outset;
  border-width: 10px;
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.2);
}

td {
  width: 25%;
}

button {
  color: rgb(43, 43, 43);
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border-width: 5px;
  font-size: 40px;
  margin: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: "Karla", sans-serif;
  font-weight: bolder;
}

.memory {
  padding: 0px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  background: rgb(128, 155, 186);
  background: radial-gradient(
    circle,
    rgb(128, 155, 186) 0%,
    rgb(102, 127, 155) 100%
  );
}

.reset {
  font-weight: bold;
  background: rgb(255, 133, 81);
  background: radial-gradient(
    circle,
    rgb(255, 133, 81) 0%,
    rgb(211, 100, 52) 100%
  );
}

.special {
  font-weight: bold;
  background: rgb(232, 182, 122);
  background: radial-gradient(
    circle,
    rgb(255, 173, 72) 0%,
    rgb(220, 153, 72) 100%
  );
}

.number {
  background: rgb(166, 166, 166);
  background: radial-gradient(
    circle,
    rgba(166, 166, 166, 1) 0%,
    rgba(145, 142, 142, 1) 100%
  );
}

.operation {
  font-weight: bold;
}
